
form > fieldset {
    margin: 32px auto;
    position: relative;
    border: 1px solid #323337;
    padding: 16px;
}

form > fieldset legend {
    font-family: verdana;
    font-size: 20px;
    position: absolute;
    top: -33px;
    left: 0;
    z-index: 750;
}

form > fieldset > div {
    margin: 2px;
    padding: 2px;
    position: relative;
}

form > fieldset > div label {
    float: left;
    text-align: right;
    margin-right: 8px;
    font-size: 12px;
    line-height: 24px;
    width: 40%;
}

form > fieldset input[type="text"], form > fieldset input[type="password"], form > fieldset select, form > fieldset textarea {
    margin: 0;
    padding: 2px;
    width: 175px;
    height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

form > fieldset input[type="radio"], form > fieldset input[type="checkbox"], form > fieldset textarea {
    margin: 0;
}

form > fieldset [type="submit"] {
    padding: 4px 12px;
    font-size: 18px;
    position: absolute;
    right: 18px;
    bottom: -15px;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

form span.required {
    font-weight: bold;
    color: red;
}

form [data-form-error-img] {
    margin: -4px 4px 0 4px;
    vertical-align: middle;
    position: absolute;
    left: 40%;
}

form ul.error {
    margin: 1em 0;
    list-style: none;
    background: #FFEEED url('/mpf-admin/images/icons/32x32/error.png') no-repeat 16px;
    padding: 4px 4px 4px 52px;
    min-height: 32px;
    border: 1px dashed #999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px #FFF;

    -moz-box-shadow:    inset 0 1px 0 #FFF, 0 0 2px #DDD;
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 0 2px #DDD;
    box-shadow:         inset 0 1px 0 #FFF, 0 0 2px #DDD;
}

form ul.error li {
    margin: 2px;
    padding: 2px;
    color: darkred;
    font-size: 12px;
    border-bottom: 2px groove white;
}

form ul.error li.singleError {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    border-bottom: none;
}

form > fieldset [data-mpf-password-strength] {
    bottom: 0;
    font-size: 5px;
    left: 43%;
    position: absolute;
    width: 1px;
}

form > fieldset [data-mpf-password-strength].mpfStrengthLow {
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

form > fieldset [data-mpf-password-strength].mpfStrengthMedium {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}


form > fieldset [data-mpf-password-strength].mpfStrengthHigh {
    background: #d2ff52; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}


