
body {
    margin:0;
    padding:0;
    font-family: arial, verdana, helvetica, sans-serif;
    font-size: 12px;
}

body > header {
    display:block;
    padding: 18px;
    height: 54px;
    position: relative;
    z-index: 500;
}

body > header > div {
}

body > header h1 {
    margin:0;
    display: block;
    vertical-align: top;
}

body > header h1 a {
    background: url("/mpf-admin/images/logo_small_white.png") no-repeat scroll 0 0 transparent;
    width: 101px;
    height: 50px;
    display: block;
    overflow: hidden;
    text-indent: -9999px;
}

body > header h2 {
    margin:0;
    float:left;
    font-size: 28px;
    line-height: 50px;
    color: white;
    text-align: center;
    margin-left: 24px;
}

#userErrors ul {
    list-style: none;
    margin: 0; padding: 0;
    clear:both;
}
#userErrors ul li {
    margin: 4px; padding: 4px;
    display:block;
    background-color: #f1caca;
    border: 1px solid red;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    clear:both;
}

body > hr {
    height:10px;
    position: relative;
    z-index: 500;
    margin-left: 150px;
}
body > nav > hr {
    height:10px;
    position: relative;
    z-index: 700;
    margin-top: 90px;
}
body > footer {
    clear:both;
    border: 1px solid pink;
    margin-top: 25px;
}

#logo-column {
    float:left;
}

#page {
    border-width: 0;
    margin: 20px auto;
    padding-left: 150px;
}

@media screen and (max-width:801px) {
    #page {
        padding-left: 155px;
        width: 600px;
    }
}

@media screen and (min-width:1024px) {
    #page {
        width: 720px;
    }
}

@media screen and (min-width:1025px) {
    #page {
        width: 950px;
    }
}

body > br {
    display:block;
    clear:both;
}

body > nav {
    margin: 0;
    width: 150px;
    position: absolute;
    z-index: 300;
    top:0;
    left:0;
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}

body > nav ul {
    list-style: none;
    margin: 0; padding: 0;
    margin: 32px 0;
    display: none;
}

body > nav li {
    position:relative;
}

body > nav li .nob,
body > nav li a {
    display: block;
    font-family: Verdana;
    font-size: 12px;
    letter-spacing: -1px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    height: 16px;
    line-height: 16px;

    position:relative;
    z-index: 500;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body > nav li .nob:focus,
body > nav li a:focus {
    outline: none;
}

body > nav li a {
    padding: 6px 1.5em 6px 6px;
}

body > nav li .nob {
    right: -23px;
    top: 0px;
    display:none;
    position:absolute;
    z-index: 200;
    padding: 6px 10px;
}

body > nav li.selected a,
body > nav li a:hover {
    padding: 6px 0px 6px 6px;
}

body > nav > div {
    text-align: center;
    display: block;
    cursor: pointer;
}
body > nav > div > div {
    height: 15px;
    width: 25px;
    margin: auto;
    background: url('/mpf-admin/images/menuHandles.png') no-repeat 0 0;
}

p.information {
    background: #FFF8C4 url('/mpf-admin/images/icons/32x32/information.png') no-repeat 16px;
    padding: 8px 8px 8px 52px;
    min-height: 32px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border: 1px dashed #999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px #FFF;
    -moz-box-shadow:    inset 0 1px 0 #FFF, 0 0 2px #DDD;
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 0 2px #DDD;
    box-shadow:         inset 0 1px 0 #FFF, 0 0 2px #DDD;
}
