
body {
    background-color: #DBDDE5;
}

body > header {
    background-image: url(/mpf-admin/media/images/headerbg.png);
}

#page > h3 {
    font-size: 42px;
    text-shadow: -1px -1px #999, 1px 1px #EEE;
    margin-top: 25px;
}

body > nav {
    background: #5a6b9c;
    border-right: 1px solid #323337;
    border-bottom: 1px solid #323337;

    -moz-box-shadow:    0px 0px 7px 0px #323337;
    -webkit-box-shadow: 0px 0px 7px 0px #323337;
    box-shadow:         0px 0px 7px 0px #323337;
}

body > nav li a {
    color: #FFF;
    background: #6b7eb8;
    border-top: 1px solid #a1b4d8;
    border-bottom: 1px solid #323337;
    text-shadow: 1px 1px #323337;
}

body > nav li .nob {
    -moz-box-shadow:    0px 0px 7px 0px #323337;
    -webkit-box-shadow: 0px 0px 7px 0px #323337;
    box-shadow:         0px 0px 7px 0px #323337;
    text-shadow: 1px 1px #323337;
}

body > nav li .nob,
body > nav li.selected a,
body > nav li a:hover {
    color: yellow;
    background: #7e91cd;
    border-top: 1px solid #a1b4d8;
    border-bottom: 1px solid #323337;
}


body > nav > hr {
    border-bottom: 1px solid #323337;
}

body > hr {
    border-bottom: 1px solid #323337;
    -moz-box-shadow:    4px 0px 7px 0px #323337;
    -webkit-box-shadow: 4px 0px 7px 0px #323337;
    box-shadow:         4px 0px 7px 0px #323337;
}

body > #page {
}

form > fieldset {
    background-color: #FFF;
    -moz-box-shadow:    0px 0px 7px -2px #323337;
    -webkit-box-shadow: 0px 0px 7px -2px #323337;
    box-shadow:         0px 0px 7px -2px #323337;
}

[data-mpf-overlay] form > fieldset {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

form > fieldset legend {
    color: black;
    text-shadow: 1px 1px #EEE;
    letter-spacing: -1px;
    font-weight: bold;
}

form > fieldset input[type="text"].error, form > fieldset textarea.error, form > fieldset input[type="password"].error, form > fieldset select.error {
    background: #ff9b9b; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff9b9b 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9b9b), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff9b9b 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff9b9b 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff9b9b 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff9b9b 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9b9b', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    border: 1px solid #FF5E5E;
}

form > fieldset input[type="text"], form > fieldset input[type="password"], form > fieldset textarea, form > fieldset select {
    border: 1px solid #999;
    background: #c5c8d8; /* Old browsers */
    background: -moz-linear-gradient(top,  #c5c8d8 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c8d8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c5c8d8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c5c8d8 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c5c8d8 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c5c8d8 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c8d8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow:    inset 0 1px 0 #FFF, 0 0 2px #DDD;
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 0 2px #DDD;
    box-shadow:         inset 0 1px 0 #FFF, 0 0 2px #DDD;

    text-shadow: 1px 1px #FFF;
}

form > fieldset [data-mpf-password-strength] {
    border: 1px solid #555;
    background: #c5c8d8; /* Old browsers */
    background: -moz-linear-gradient(top,  #c5c8d8 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5c8d8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #c5c8d8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #c5c8d8 0%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #c5c8d8 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #c5c8d8 0%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5c8d8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow:    inset 0 1px 0 #FFF, 0 0 2px #DDD;
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 0 2px #DDD;
    box-shadow:         inset 0 1px 0 #FFF, 0 0 2px #DDD;

    text-shadow: 1px 1px #FFF;
}

form > fieldset [data-mpf-password-strength-meter] {
    -moz-box-shadow:    inset -2px 0 2px #555;
    -webkit-box-shadow: inset -2px 0 2px #555;
    box-shadow:         inset -2px 0 2px #555;
}

form > fieldset [data-mpf-password-strength-meter].mpfStrengthLow {
    background: #ff3019; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff3019 0%,#cf0404 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

form > fieldset [data-mpf-password-strength-meter].mpfStrengthMedium {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}


form > fieldset [data-mpf-password-strength-meter].mpfStrengthHigh {
    background: #d2ff52; /* Old browsers */
    background: -moz-linear-gradient(top,  #d2ff52 0%, #91e842 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d2ff52 0%,#91e842 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d2ff52 0%,#91e842 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 ); /* IE6-9 */
}

.loggedUser section span {
    color: #DDD;
    text-shadow: 1px 1px black;
    background: #3B4562;

    border-width: 1px;
    border-style: solid;
    border-color: #5a6b9c #5a6b9c #6b7eb8 #6b7eb8;
    -moz-box-shadow:    0 0 6px 0 #323337 inset;
    -webkit-box-shadow: 0 0 6px 0 #323337 inset;
    box-shadow:         0 0 6px 0 #323337 inset;
}

.loggedUser section a {
    -moz-box-shadow:    1px 1px 3px 0 #323337;
    -webkit-box-shadow: 1px 1px 3px 0 #323337;
    box-shadow:         1px 1px 3px 0 #323337;
}

.loggedUser section a:hover {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

[data-mpf-overlay] {
    background: rgba(9, 11, 61, 0.6) url(/mpf-admin/media/images/noise2.png);
}
[data-mpf-overlay] > section {
    background-color: white;
    -moz-box-shadow:    0px 0px 4px 2px #323337;
    -webkit-box-shadow: 0px 0px 4px 2px #323337;
    box-shadow:         0px 0px 4px 2px #323337;
}

[data-mpf-overlay="loader"] > section {
    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

[data-mpf-overlay] > section > header {
    background: url(/mpf-admin/media/images/noise.png), #6b7eb8; /* Old browsers */
    background: url(/mpf-admin/media/images/noise.png), -moz-linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* FF3.6+ */
    background: url(/mpf-admin/media/images/noise.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b7eb8), color-stop(100%, #4e5b85)); /* Chrome,Safari4+ */
    background: url(/mpf-admin/media/images/noise.png), -webkit-linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* Chrome10+,Safari5.1+ */
    background: url(/mpf-admin/media/images/noise.png), -o-linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* Opera 11.10+ */
    background: url(/mpf-admin/media/images/noise.png), -ms-linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* IE10+ */
    background: url(/mpf-admin/media/images/noise.png), linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b7eb8', endColorstr='#4e5b85',GradientType=0 ); /* IE6-9 */

    border-top: 1px solid #a1b4d8;
    color: white;
}
[data-mpf-overlay] > section > footer {
    background-color: #EEE;
}

[data-mpf-overlay] > section > div {
    border-top: 1px solid #BBB;
}

a.gradientBlueNoise, input.gradientBlueNoise {
    color: #DDD;
    border-left: 1px solid #6b7eb8;
    text-shadow: -1px -1px #2d344c, 1px 1px #8B9ACB;
}

.gradientBlueNoise {
    background: url(/mpf-admin/media/images/noise.png), #6b7eb8; /* Old browsers */
    background: url(/mpf-admin/media/images/noise.png), -moz-linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* FF3.6+ */
    background: url(/mpf-admin/media/images/noise.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b7eb8), color-stop(100%, #4e5b85)); /* Chrome,Safari4+ */
    background: url(/mpf-admin/media/images/noise.png), -webkit-linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* Chrome10+,Safari5.1+ */
    background: url(/mpf-admin/media/images/noise.png), -o-linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* Opera 11.10+ */
    background: url(/mpf-admin/media/images/noise.png), -ms-linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* IE10+ */
    background: url(/mpf-admin/media/images/noise.png), linear-gradient(top,  #6b7eb8 0%, #4e5b85 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6b7eb8', endColorstr='#4e5b85',GradientType=0 ); /* IE6-9 */

    border-top: 1px solid #a1b4d8;
}

a.gradientBlueNoise:hover, input.gradientBlueNoise:hover {
    color: #FFF;

    background: url(/mpf-admin/media/images/noise.png), #5a6b9c; /* Old browsers */
    background: url(/mpf-admin/media/images/noise.png), -moz-linear-gradient(top,  #5a6b9c 0%, #424e6d 100%); /* FF3.6+ */
    background: url(/mpf-admin/media/images/noise.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a6b9c), color-stop(100%,#424e6d)); /* Chrome,Safari4+ */
    background: url(/mpf-admin/media/images/noise.png), -webkit-linear-gradient(top,  #5a6b9c 0%,#424e6d 100%); /* Chrome10+,Safari5.1+ */
    background: url(/mpf-admin/media/images/noise.png), -o-linear-gradient(top,  #5a6b9c 0%,#424e6d 100%); /* Opera 11.10+ */
    background: url(/mpf-admin/media/images/noise.png), -ms-linear-gradient(top,  #5a6b9c 0%,#424e6d 100%); /* IE10+ */
    background: url(/mpf-admin/media/images/noise.png), linear-gradient(top,  #5a6b9c 0%,#424e6d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a6b9c', endColorstr='#424e6d',GradientType=0 ); /* IE6-9 */

    border-top: 1px solid #5a6b9c;
    border-left: 1px solid #5a6b9c;
    text-shadow: none;
}

.gradientBlueNoiseActive, a.gradientBlueNoise:active, input.gradientBlueNoise:active {
    color: yellow;

    background: url(/mpf-admin/media/images/noise.png), #4e5b85; /* Old browsers */
    background: url(/mpf-admin/media/images/noise.png), -moz-linear-gradient(top,  #4e5b85 0%, #5a6b9c 100%); /* FF3.6+ */
    background: url(/mpf-admin/media/images/noise.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4e5b85), color-stop(100%, #5a6b9c)); /* Chrome,Safari4+ */
    background: url(/mpf-admin/media/images/noise.png), -webkit-linear-gradient(top,  #4e5b85 0%,#5a6b9c 100%); /* Chrome10+,Safari5.1+ */
    background: url(/mpf-admin/media/images/noise.png), -o-linear-gradient(top,  #4e5b85 0% ,#5a6b9c 100%); /* Opera 11.10+ */
    background: url(/mpf-admin/media/images/noise.png), -ms-linear-gradient(top,  #4e5b85 0%, #5a6b9c 100%); /* IE10+ */
    background: url(/mpf-admin/media/images/noise.png), linear-gradient(top,  #4e5b85 0%, #5a6b9c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5b85', endColorstr='#5a6b9c',GradientType=0 ); /* IE6-9 */

    border-top: 1px solid #5a6b9c;
    border-left: 0;
    text-shadow: -1px -1px #2d344c, 1px 1px #8B9ACB;
}

.gradientGreen {
    background: #6bc95c; /* Old browsers */
    background: -moz-linear-gradient(top,  #6bc95c 0%, #458242 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6bc95c), color-stop(100%,#458242)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6bc95c 0%,#458242 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6bc95c 0%,#458242 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6bc95c 0%,#458242 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #6bc95c 0%,#458242 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bc95c', endColorstr='#458242',GradientType=0 ); /* IE6-9 */



    color: #FFF;
    font-weight: bold;
    text-shadow:0px -1px 0px rgba(000,000,000,0.8),0px 1px 0px rgba(255,255,255,0.5);
    border: 1px solid #1d6b20;

    -moz-box-shadow:    inset 0 1px 0px #AAF49F;
    -webkit-box-shadow: inset 0 1px 0px #AAF49F;
    box-shadow:         inset 0 1px 0px #AAF49F;
}

a.gradientGreen:hover, input.gradientGreen:hover {
    background: #b4e391; /* Old browsers */
    background: -moz-linear-gradient(top,  #b4e391 0%, #61c419 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(100%,#61c419)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b4e391 0%,#61c419 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b4e391 0%,#61c419 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b4e391 0%,#61c419 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b4e391 0%,#61c419 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#61c419',GradientType=0 ); /* IE6-9 */

    color: yellow;
    border: 1px solid #459148;
}

.gradientGreenActive, a.gradientGreen:active, input.gradientGreen:active {
    background: #61c419; /* Old browsers */
    background: -moz-linear-gradient(top,  #61c419 0%, #b4e391 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #61c419 0%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #61c419 0%,#b4e391 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #61c419 0%,#b4e391 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #61c419 0%,#b4e391 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61c419', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */

    -moz-box-shadow:    inset 0 0 2px #1d6b20;
    -webkit-box-shadow: inset 0 0 2px #1d6b20;
    box-shadow:         inset 0 0 2px #1d6b20;

    color: #459148;
}
