
form > fieldset {
    margin: 32px auto;
    position: relative;
    border: 1px solid #323337;
    padding: 16px 16px 25px;
}

[data-mpf-overlay] form {
    clear: both;
}

[data-mpf-overlay] form > fieldset {
    margin: 0;
    border: 0px;
}

form > fieldset legend {
    font-family: verdana;
    font-size: 20px;
    position: absolute;
    top: -33px;
    left: 0;
    z-index: 750;
}

form > fieldset > div {
    margin: 2px;
    padding: 2px;
    position: relative;
}

form > fieldset > div label {
    float: left;
    clear:both;
    text-align: right;
    margin-right: 8px;
    font-size: 12px;
    line-height: 24px;
    width: 40%;
}

form > fieldset input[type="text"], form > fieldset input[type="password"], form > fieldset select, form > fieldset textarea {
    margin: 0;
    padding: 2px;
    width: 175px;
    height: 18px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

form > fieldset input[type="radio"], form > fieldset input[type="checkbox"], form > fieldset textarea {
    margin: 0;
}

form > fieldset [type="submit"] {
    padding: 4px 12px;
    font-size: 18px;
    position: absolute;
    right: 18px;
    bottom: -15px;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    z-index: 1000;
}

form  > fieldset .success {
    background-color: rgba(255, 255, 255, 0.85);
    width: 99%;
    height: 98%;
    left: -2px;
    top: -2px;
    position: absolute;
    z-index: 500;
}

form  > fieldset .success p {
    color: green;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    text-align: center;
    width: 99%;
    margin-top: -1em;
    font-weight: bold;
}

form span.required {
    font-weight: bold;
    color: red;
}

form [data-form-error-img] {
    margin: -7px 0 0;
    vertical-align: middle;
    position: absolute;
    left: 40%;
}

form ul.error {
    margin: 1em 0;
    list-style: none;
    background: #FFEEED url('/mpf-admin/media/images/icons/32x32/error.png') no-repeat 16px;
    padding: 4px 4px 4px 52px;
    min-height: 32px;
    border: 1px dashed #999;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 1px 1px #FFF;

    -moz-box-shadow:    inset 0 1px 0 #FFF, 0 0 2px #DDD;
    -webkit-box-shadow: inset 0 1px 0 #FFF, 0 0 2px #DDD;
    box-shadow:         inset 0 1px 0 #FFF, 0 0 2px #DDD;
}

form ul.error li {
    margin: 2px;
    padding: 2px;
    color: darkred;
    font-size: 12px;
    border-bottom: 2px groove white;
}

form ul.error li.singleError {
    display: table-cell;
    vertical-align: middle;
    height: 30px;
    border-bottom: none;
}

form > fieldset [data-mpf-password-strength] {
    display: inline-block;
    height: 22px;
    width: 180px;
    padding: 0;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

form > fieldset [data-mpf-password-strength-meter] {
    height: 18px;
    width: 1px;
    line-height: 18px;
    padding: 2px;

    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}


