.error {
    color: red;
    font-weight: bold;
}
.success {
    color: green;
}

#page > section > h4 {
    margin-bottom: 8px;
}

section ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
section > ul > li {
    clear:both;
    border-bottom: 1px dotted gray;
    display:block;
    height: 1.25em;
    margin-bottom: 8px;
}
section > ul > li.error {
    height: auto;
}

section > ul > li li {
    clear:both;
    margin-left: 8px;
    padding: 4px;
}

section > ul > li ul {
    clear:both;
    margin-left: 8px;
}

section li > label {
    float: left;
    width: 50px;
}
section li > span {
    float: left;
    width: 25px;
}
