
[data-mpf-overlay="resetPassword"] > section {
    width: 450px;
}

[data-mpf-overlay="resetPassword"] fieldset[data-step="2"] {
    display:none;
}

[data-mpf-overlay="resetPassword"] [data-mpf-tooltip="passwordStrength"] {
    position: absolute;
    right: 41px;
    top: -3px;
}